@model List<Sample.Models.User>
@Html.DevExpress().GridView(
    settings => {
        settings.Name = "gridView";
        settings.KeyFieldName = "ID";

        settings.CallbackRouteValues = new { Controller = "Home", Action = "GridViewPartial" };

        settings.SettingsEditing.Mode = GridViewEditingMode.EditFormAndDisplayRow;
        settings.SettingsEditing.AddNewRowRouteValues = new { Controller = "Home", Action = "AddNew" };
        settings.SettingsEditing.UpdateRowRouteValues = new { Controller = "Home", Action = "Update" };
        settings.SettingsEditing.DeleteRowRouteValues = new { Controller = "Home", Action = "Delete" };

        settings.CommandColumn.Visible = true;
        settings.CommandColumn.NewButton.Visible = true;
        settings.CommandColumn.DeleteButton.Visible = true;
        settings.CommandColumn.EditButton.Visible = true;

        settings.Columns.Add("NickName");
        settings.Columns.Add(
            column => {
                column.Caption = "Avatar";
                column.HeaderStyle.HorizontalAlign = System.Web.UI.WebControls.HorizontalAlign.Center;
                column.SetDataItemTemplateContent(c => {
                    string url = (string)DataBinder.Eval(c.DataItem, "AvatarUrl");
                    ViewContext.Writer.Write(
                        !string.IsNullOrEmpty(url) ? "<img src=\"" + Url.Content(url) + "\"/>"
                                                   : "<center>Click Edit to load a New Avatar</center>"
                    );
                });
            }
        );
        settings.SetEditFormTemplateContent(
            c => {
                var user = ViewData["UserInfo"] != null ? ViewData["UserInfo"] : c.DataItem;
                Session["UserID"] = DataBinder.Eval(user, "ID") != null ? DataBinder.Eval(user, "ID") : Model.Count + 1;

                ViewContext.Writer.Write("<div style=\"padding: 4px 0px; font-size: 8pt\">");
                Html.DevExpress().Label(
                    edtSettings => {
                        edtSettings.Text = "NickName";
                        edtSettings.AssociatedControlName = "NickName";
                        edtSettings.ControlStyle.Font.Bold = true;
                    }
                ).Render();
                Html.DevExpress().TextBox(
                    edtSettings => {
                        edtSettings.Name = "NickName";
                        edtSettings.ShowModelErrors = true;
                        edtSettings.Width = System.Web.UI.WebControls.Unit.Pixel(200);
                    }
                )
                .Bind(DataBinder.Eval(user, "NickName"))
                .Render();
                ViewContext.Writer.Write("</div>");

                ViewContext.Writer.Write("<div style=\"padding: 4px 0px; font-size: 8pt\">");

                Html.DevExpress().Label(
                    edtSettings => {
                        edtSettings.Text = "Avatar";
                        edtSettings.ControlStyle.Font.Bold = true;
                    }
                ).Render();

                ViewContext.Writer.Write("<br />");
                ViewContext.Writer.Write(
                    "<div style=\"margin-top: 2px\">" +
                        "Allowed ContentTypes: image/jpeg<br />" +
                        "Maximum File Size: 4Mb" +
                    "</div>"
                );
                ViewContext.Writer.Write("<br />");

                using(Html.BeginForm("ImageUpload", "Home", FormMethod.Post)) {
                    Html.DevExpress().UploadControl(
                        ucSettings => {
                            ucSettings.Name = "uploadControl";
                            ucSettings.ShowUploadButton = true;
                            ucSettings.AddUploadButtonsSpacing = 0;
                            ucSettings.AddUploadButtonsHorizontalPosition = AddUploadButtonsHorizontalPosition.InputRightSide;
                            ucSettings.CallbackRouteValues = new { Controller = "Home", Action = "ImageUpload" };
                            ucSettings.ValidationSettings.Assign(Sample.Controllers.UploadControlHelper.ValidationSettings);
                            ucSettings.ClientSideEvents.FileUploadComplete = "function(s, e) { if(e.isValid) { avatarUrl.SetValue(e.callbackData) } }";
                        }
                    ).Render();
                }
                Html.DevExpress().Label(
                    edtSettings => {
                        edtSettings.Text = "Avatar Url:";
                        edtSettings.AssociatedControlName = "avatarUrl";
                    }
                ).Render();
                Html.DevExpress().TextBox(
                    edtSettings => {
                        edtSettings.Name = "avatarUrl";
                        edtSettings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                    }
                )
                .Bind(DataBinder.Eval(user, "AvatarUrl"))
                .Render();
                ViewContext.Writer.Write("</div>");
                ViewContext.Writer.Write(
                    "<div style=\"text-align: right; padding: 2px 2px 2px 2px\">" +
                        string.Format("<a href=\"#\" onclick=\"{0}.UpdateEdit()\">Update</a>&nbsp;", settings.Name) +
                        string.Format("<a href=\"#\" onclick=\"{0}.CancelEdit()\">Cancel</a>", settings.Name) +
                    "</div>"
                );
            }
        );
    }
).Bind(Model).GetHtml()